.page2{
    min-height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 1vw 2vw;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* SERVICES */

.services{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 7px;
}

.services .ser{
    display: flex;
    flex-direction: row;
    gap: 3vw;
    padding: 2vw;
}

.services h3{
    font-size: 13px;
    font-weight: 200;
    font-family: Inter;
    border: 1px solid black;
    display: inline-block;
    padding: 0.3vw 0.7vw;
    border-radius: 40px;
    color: white;
    background-color: rgba(0, 0, 0, 0.459);
}

.services h2{
    font-family: Rowdies;
    color: #4f404b;
    font-size: 32px;
    text-align: center;
    
}

.service-content{
    height: 330px;
    width: 290px;
    background-color: #917FB3;
    border-radius: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* text-align: center; */
    gap: 1vw;
    padding: 2vw 2vw;
    box-shadow: 3px 5px 10px 5px rgba(0,0,0,0.1);    
}
.service-content:nth-child(2){
    background-color: #d06880;
    /* color: white; */
}
/* .service-content:nth-child(3){
    background-color: #D5B4B4;
} */
.service-content:nth-child(4){
    background-color: #d06880;
    /* color: white; */
}

.service-content h2{
    font-family: Inter;
    font-size: 20px;
    font-weight: 900;
}


/* BRANDS */
.brands-div{
    padding: 10vw 0vw;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin: auto;
    background-color: #EFEAE3;
    position: relative;
    overflow: hidden;
}
.brands-div h2{
    font-family: Rowdies;
    color: #402B3A;
    font-size: 32px;
    display: inline-block;
    margin: auto;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
    display: inline-block;
    white-space: nowrap;
    animation-name: move;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.content img{
    display: inline-block;
    padding: 0vw 2vw;
}
.img6{
    height: 15vh;
}
.brand-img{
    overflow-x: hidden;
    white-space: nowrap;
    position: relative;
    width: 100vw;
}

@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


/* WHY CHOOSE QUIRKY FOLKS */
.quirky{
    font-family: Rowdies;
    /* text-decoration: underline #C192AF;
    text-decoration-style: dashed 4px;
    text-decoration-thickness: 6px; */
}
.reason{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    gap: 3vw;
}
.reason div{
    display: flex;
}
.reason div .why1{
    background-color: #CD5888;
}
.reason h3{
    font-family: Rowdies;
    font-size: 32px;
    display: inline-block;
}
.why{
    padding: 2vw 3vw;
    display: flex;
    gap: 3vw;
    width: 100%;
    
}

.why-content{
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 4vw 3vw;
    height:366px;
    width: 340px;
    background-color: #141414;
    color: #fff;
    border-radius: 35px;
    box-shadow: 3px 5px 10px 5px rgba(0, 0, 0, 0.245);    

}

.why-content{
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    padding: 4vw 3vw;
    height:366px;
    width: 340px;
    background-color: #d06880;
    color: #000000;
    border-radius: 35px;
    box-shadow: 3px 5px 10px 5px rgba(0, 0, 0, 0.245);    

}

.why-content img{
    /* position: absolute; */
    height: 5vw;
    /* padding-left: 2vw; */
}

.why-content:nth-child(2){
    background-color: #917FB3;
    color: #000000;
}

.why-content h4{
    font-size: 20px;
    font-family: Inter;
    display: flex;
}

.why-content p{
    font-size: 16px;
    font-weight: 400;
    font-family: Inter;
}