@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.page3{
    min-height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    /* padding: 5vw 20vw; */
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}

.page3 .about{
    min-height: 70vh;
    width: 100%;
    background-color: #402B3A;
     padding: 5vw 20vw;
     position: relative;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 2vw;
}

.page3 h1{
    color: #fff;
    font-size: 32px;
    font-family: Rowdies;
}

.page3 p{
    color: #FDCDC1;
    font-family: Roboto;
    font-weight: 100;
    font-size: 25px
}