nav{
    padding: 0vw 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* position: fixed;   */
    z-index: 90;
    
}

nav h2 {
    display: none;
}

nav img{
    height: 100px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 3vw;
}

.menu h3 a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

.menu h3:hover a{
    color: #f2f2f2;
    
}

#full-scr {
    height: 100vh;
    width: 100%;
    background-color: #00000070;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}


.menu h4{
    padding: 7px 18px;
    border: 1px solid #00000071;
    background-color: #EFEAE3;
    border-radius: 50px;
    font-weight: 400;
    color: #000000c1;
    font-size: 16px;
    transition: all ease 0.4s;
    position: relative;
    overflow: hidden;
}

.menu h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.menu h4:hover::after{
    bottom: 0;
    border-radius: 0; 
}

.menu h4 a{
    text-decoration: none;
    color: #000000c1;
    z-index: 9;
    position: relative;
}

.menu h4:hover a{
    color: #ffffff;
    
}

nav #full-scr{
    display: none;
}


@media (max-width:600px) {
    .nav-btn {
		visibility: visible;
		opacity: 1;
	}

    nav {
        padding: 1vw 5vw;
        background-color: #EFEAE3;
    }

    nav img {
        transition: all ease 0.2s;
        height: 12vh;
    }

    .menu h4:hover a{
        color: #ffffff;
        
    }
    .menu h3:hover a{
        color: #000000;
    }
    

    /* .menu {
        display: none;
    } */

    .menu {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 40%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: #EFEAE3;
		transition: 1s;
	}

    .responsive_nav {
		transform: translateY(100vh);
        z-index: 2;

	}

    .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
	}

    nav h2 {
        display: block;
        padding: 2vw 3vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 3vw;
        font-weight: 200;
        padding-left: 4vw;
        padding-right: 4vw;
    }

    nav h2:hover{
        cursor: pointer;
        background-color: #000;
        color: white;
    }
}
