@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

.page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    /* padding: 8vw 0; */
    /* position: relative; */
    overflow: hidden;
    padding: 0;
    background-image: url(../../assets/waves.svg);
    background-repeat: no-repeat;
/* background-position: center; */


} 

/* MOVING TAGLINE */
.moving-text{
    white-space: nowrap;
    position: relative;
    width: 100vw;
    background-color: rgb(0, 0, 0);
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.moving-text h1{
    font-size: 1vw;
    display: inline-block;
    color: #fff;
    font-weight: 400;
}

.circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(189, 4, 121);
    display: inline-block;
    margin: 0 2vw;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* HERO SECTION */

.spacer{
    aspect-ratio: 1440/715;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer{
    background-image: url(../../assets/waves.svg);
}
.hero{
    padding: 9vw 2vw;
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.693); */
    padding-bottom:2vw ;
    gap: 5%;
}
span.decor{
    text-decoration: underline #FDCDC1;
    text-decoration-style: dashed;
    text-decoration-thickness: 6px;
    font-family: Rowdies;
}
.left{
    width: 50%;
}

.right{
    width: 50%;
}

.left h1{
    font-size: 3vw;
    font-family: Rowdies;
    color: #402B3A;
}

.left .btns{
    margin-top: 3vw;
    gap: 2vw;
    display: flex;
    flex-direction: row;
}

.right video{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    position: relative;
}
